name: Add New Project
on:
  workflow_dispatch:
    inputs:
      project_key:
        description: 'Project Key'
        required: true
      repo_path:
        description: 'GitHub Repo (User/Repo)'
        required: true
      defconfig:
        description: 'Defconfig Name'
        required: true
      localversion:
        description: 'Localversion Base'
        required: true
      ak3_branch:
        description: 'AnyKernel3 Branch'
        default: 'master'
        required: true
      zip_name:
        description: 'Zip Name Prefix'
        default: 'Kernel'
        required: true

jobs:
  add-project:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          
      - name: Add to Configuration
        run: |
          python3 scripts/ci_core.py add \
            --key "${{ inputs.project_key }}" \
            --repo "${{ inputs.repo_path }}" \
            --defconfig "${{ inputs.defconfig }}" \
            --localversion "${{ inputs.localversion }}" \
            --ak3_branch "${{ inputs.ak3_branch }}" \
            --zip_name "${{ inputs.zip_name }}"
            
      - name: Commit and Push
        run: |
          git config --global user.name "Kokuban-Bot"
          git config --global user.email "bot@kokuban.dev"
          git add configs/projects.json
          git commit -m "feat: add new project ${{ inputs.project_key }}"
          git push