name: Setup Kernel Repos
on:
  workflow_dispatch:
    inputs:
      commit_message:
        description: 'Commit Message'
        required: true
        default: '[skip ci] ci: Sync central CI files'
      readme_language:
        description: 'README Language'
        required: true
        type: choice
        options:
          - both
          - zh-CN
          - en-US
        default: 'both'

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: ci_core_rs

      - name: Build CI Core
        run: cargo build --release --manifest-path ci_core_rs/Cargo.toml
          
      - name: Initialize Repositories
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          WEBHOOK_SECRET: ${{ secrets.PUSH_SERVER_WEBHOOK_SECRET }}
        run: |
          ./ci_core_rs/target/release/kokuban_ci_core setup \
            --token "${{ secrets.GH_TOKEN }}" \
            --commit_message "${{ inputs.commit_message }}" \
            --readme_language "${{ inputs.readme_language }}"