# .github/workflows/7-custom-manual-build.yml
name: 7. Custom Manual Build
on:
  workflow_dispatch:
    inputs:
      project:
        description: '选择项目 (Project)'
        required: true
        type: choice
        # 这里的列表来源于 configs/projects.json
        options: [s23_sm8550, s24_sm8650, s25_sm8750, tabs10_mt6989, tabs9_sm8550, s25e_sm8750, z4_sm8475, z5_sm8550, s24_s5e9945, z3_sm8350, tabs10fe_s5e8855, z6_sm8650]
      branch:
        description: 'Git 分支/标签/Commit (例如 main, feature-x)'
        required: true
        default: 'main'
        type: string
      ksu_type:
        description: 'KernelSU 类型 (将覆盖分支默认设置)'
        required: true
        type: choice
        options:
          - lkm         # 无 KernelSU
          - ksu         # 官方 KernelSU
          - mksu        # Magic KernelSU
          - sukisuultra # SukiSU-Ultra
        default: 'lkm'
      do_release:
        description: '发布 Release?'
        type: boolean
        default: true
      apply_samsung_patch:
        description: '应用三星激活补丁? (仅 KSU 相关版本有效)'
        type: boolean
        default: false

jobs:
  build:
    # 调用现有的可复用构建流程
    uses: ./.github/workflows/reusable-build-job.yml
    with:
      project_key: ${{ inputs.project }}
      branch_name: ${{ inputs.branch }}  # 这里传入的是实际的 Git Ref
      # 【关键】传入 KernelSU 类型覆盖参数
      ksu_override: ${{ inputs.ksu_type }} 
      do_release: ${{ inputs.do_release }}
      is_prerelease: true
      apply_samsung_patch: ${{ inputs.apply_samsung_patch }}
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}