name: 7. Notify Telegram
on:
  release:
    types: [published]

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: ci_core_rs

      - name: Build CI Core
        run: cargo build --release --manifest-path ci_core_rs/Cargo.toml
        
      - name: Send Notification
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
        run: |
          ./ci_core_rs/target/release/kokuban_ci_core notify --tag "${{ github.event.release.tag_name }}"