name: Add New Project
on:
  workflow_dispatch:
    inputs:
      project_key:
        description: 'Project Key'
        required: true
      repo_path:
        description: 'GitHub Repo (User/Repo)'
        required: true
      defconfig:
        description: 'Defconfig Name'
        required: true
      localversion:
        description: 'Localversion Base'
        required: true
      device_name_cn:
        description: 'Device Name (CN)'
        required: true
        default: '未知设备'
      device_name_en:
        description: 'Device Name (EN)'
        required: true
        default: 'Unknown Device'
      ak3_branch:
        description: 'AnyKernel3 Branch'
        default: 'master'
        required: true
      zip_name:
        description: 'Zip Name Prefix'
        default: 'Kernel'
        required: true

jobs:
  add-project:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly
          components: rustfmt, clippy

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: ci_core_rs

      - name: Build CI Core
        run: cargo build --release --manifest-path ci_core_rs/Cargo.toml

      - name: Add to Configuration
        run: |
          ./ci_core_rs/target/release/kokuban_ci_core add \
            --key "${{ inputs.project_key }}" \
            --repo "${{ inputs.repo_path }}" \
            --defconfig "${{ inputs.defconfig }}" \
            --localversion "${{ inputs.localversion }}" \
            --device_cn "${{ inputs.device_name_cn }}" \
            --device_en "${{ inputs.device_name_en }}" \
            --ak3_branch "${{ inputs.ak3_branch }}" \
            --zip_name "${{ inputs.zip_name }}"
            
      - name: Commit and Push
        run: |
          git config --global user.name "Kokuban-Bot"
          git config --global user.email "bot@kokuban.dev"
          git add configs/projects.json
          git commit -m "feat: add new project ${{ inputs.project_key }}"
          git push