name: Release All Branches
on:
  workflow_dispatch:
    inputs:
      project:
        description: 'Select Project'
        required: true
        type: choice
        options: [z5_sm8550, s25_sm8750, s23_sm8550, s24_sm8650, tabs10_mt6989, z6_sm8650]

permissions:
  contents: write

jobs:
  matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6
      
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: ci_core_rs

      - name: Build CI Core
        run: cargo build --release --manifest-path ci_core_rs/Cargo.toml
          
      - name: Generate Matrix
        id: set-matrix
        run: ./ci_core_rs/target/release/kokuban_ci_core matrix --project ${{ inputs.project }}

  build:
    needs: matrix
    strategy:
      matrix: ${{ fromJson(needs.matrix.outputs.matrix) }}
      fail-fast: false
    uses: ./.github/workflows/build_kernel.yml 
    with:
      project: ${{ inputs.project }}
      branch: ${{ matrix.branch }}
      do_release: true
    secrets: inherit